<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Upvoc</title>
    <link href="/css/myapp.css" rel="stylesheet">
</head>

<body>
    <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="Telegraph" viewBox="0 0 171 32">
                <title>Telegraph</title>
                <path class="path1" d="M3.964 15.596c0-3.701 2.852-6.28 5.309-7.402l0.091 0.122c-0.91 1.062-1.486 2.214-1.486 4.611 0 2.609 0.667 4.429 1.729 5.674 0.303-0.365 0.485-1.032 0.485-1.578v-4.368l4.702-3.368 0.061 0.091c-0.425 0.577-0.577 1.123-0.577 2.124v3.004c0 1.547-2.882 3.549-4.581 4.186 1.274 1.365 3.094 1.942 5.066 1.942 0.546 0 1.031-0.030 1.517-0.091v-11.346c-1.79-0.091-3.458-0.607-5.006-1.032-1.305-0.364-2.518-0.698-3.641-0.698-2.063 0-4.581 0.698-4.55 3.64 0 0.243 0.030 0.486 0.061 0.759l-0.152 0.061c-0.334-0.82-0.486-1.699-0.486-2.518 0-3.337 2.457-6.34 6.462-6.34 1.699 0 3.155 0.394 4.581 0.788 1.487 0.424 2.943 0.849 4.611 0.849 0.819 0 1.244-0.364 1.244-1.152s-0.364-1.244-0.88-1.395l0.030-0.122c1.578 0.273 3.489 1.244 3.489 3.367 0 2.761-1.911 3.823-5.066 3.823h-0.455v11.315c2.397-0.333 3.914-1.335 5.036-3.124l0.091 0.061c-1.365 3.853-3.731 7.22-8.646 7.22-4.976 0-9.041-3.155-9.041-9.101zM16.979 8.285c-3.58 0-6.735-1.759-9.344-1.759-1.669 0-3.55 0.697-4.217 2.457h0.030c0.788-1.365 2.578-1.76 4.186-1.76 2.609 0 5.764 1.76 9.344 1.76 2.882 0 4.55-0.88 4.824-3.186h-0.061c-0.425 1.759-1.881 2.488-4.763 2.488zM6.634 10.196c-1.274 1.335-2.427 3.004-2.427 5.401 0 5.946 4.065 8.858 8.858 8.858 2.973 0 4.854-1.426 6.067-2.669l-0.030-0.030c-1.365 1.092-3.185 1.972-6.037 1.972-3.883 0-8.1-2.639-8.1-8.13 0-2.093 0.668-4.005 1.669-5.37v-0.031zM11.063 16.719v-4.49l-0.728 0.515v4.338c0 0.424-0.091 0.728-0.242 1.032l0.061 0.030c0.394-0.334 0.91-0.789 0.91-1.426z"></path>
                <path class="path2" d="M24.354 28.156c3.155-0.273 6.219-1.456 6.219-4.885v-10.617l-1.426-1.669-1.668 1.729v8.070l1.243 1.183-3.033 2.579h-0.091l-2.882-2.488 0.758-0.789v-16.291c0-1.274-1.001-1.972-1.578-2.093v-0.060c0.212-0.152 0.607-0.212 1.153-0.212 1.032 0 1.79 0.606 2.063 1.365h0.061c0.698-1.032 1.729-1.365 2.73-1.365 0.273 0 0.546 0.030 0.789 0.060v0.091c-0.486 0.182-1.213 0.789-1.213 2.518v7.13l3.883-4.005h0.091c0.273 0.243 1.851 1.73 2.306 2.033 0.182 0.122 0.425 0.212 0.668 0.212 0.364 0 0.698-0.151 0.879-0.242v0.091c-0.364 0.334-0.728 0.849-0.728 1.457v9.434c0 4.035-4.399 6.462-10.224 6.917v-0.152zM22.412 2.915v0.030c0.516 0.182 1.305 0.849 1.305 2.033v16.383l-0.698 0.698 2.639 2.245 0.516-0.425-2.215-1.82 0.485-0.486v-16.595c0-1.274-1.062-1.972-2.033-2.063zM29.39 26.669c1.214-0.758 2.124-1.608 2.124-3.398v-10.921l-1.729-2.033-0.486 0.516 1.486 1.759v10.678c0 1.487-0.546 2.61-1.456 3.338l0.061 0.060z"></path>
                <path class="path3" d="M36.614 12.046c1.699-0.818 4.399-2.395 6.098-3.64h0.121c1.092 1.183 2.912 3.216 4.338 4.46v0.121l-6.583 4.065v2.943c0.667 0.455 2.639 1.486 3.762 1.881l2.578-2.396 0.152 0.182-5.248 4.885h-0.061c-1.79-0.759-4.005-1.76-5.37-2.518 0.121-0.424 0.212-1.881 0.212-3.55v-6.432zM42.287 23.878c-1.76-0.759-3.519-1.456-4.884-2.215 0.121-0.515 0.182-1.517 0.182-3.186v-6.674l-0.728 0.364v6.31c0 1.669-0.061 3.034-0.212 3.459 1.365 0.758 3.367 1.638 5.127 2.427l0.516-0.485zM40.588 16.809l3.246-2.033c-1.122-1.274-2.275-2.639-3.246-3.701v5.733zM41.468 10.591l-0.667 0.364c0.971 1.061 2.093 2.427 3.246 3.701l0.637-0.424c-1.123-1.275-2.245-2.609-3.216-3.641z"></path>
                <path class="path4" d="M55.699 15.592c0-3.701 2.851-6.28 5.309-7.402l0.091 0.121c-0.91 1.062-1.487 2.215-1.487 4.611 0 2.609 0.667 4.429 1.73 5.673 0.303-0.364 0.485-1.031 0.485-1.578v-4.369l4.702-3.367 0.061 0.091c-0.425 0.576-0.577 1.122-0.577 2.123v3.004c0 1.547-2.882 3.55-4.581 4.187 1.274 1.366 3.094 1.941 5.067 1.941 0.546 0 1.031-0.030 1.517-0.091v-11.346c-1.79-0.091-3.458-0.607-5.006-1.031-1.305-0.365-2.518-0.698-3.641-0.698-2.063 0-4.581 0.698-4.55 3.641 0 0.243 0.030 0.485 0.061 0.758l-0.152 0.060c-0.334-0.818-0.485-1.698-0.485-2.518 0-3.337 2.457-6.34 6.461-6.34 1.699 0 3.155 0.394 4.582 0.789 1.486 0.425 2.943 0.849 4.611 0.849 0.819 0 1.244-0.364 1.244-1.153s-0.364-1.244-0.88-1.395l0.030-0.121c1.578 0.273 3.489 1.243 3.489 3.368 0 2.761-1.911 3.822-5.066 3.822h-0.455v11.316c2.397-0.334 3.914-1.335 5.036-3.125l0.091 0.061c-1.365 3.853-3.731 7.22-8.646 7.22-4.976 0-9.041-3.155-9.041-9.101zM68.714 8.281c-3.58 0-6.736-1.76-9.345-1.76-1.669 0-3.557 0.673-4.225 2.433l0.039 0.025c0.788-1.365 2.578-1.759 4.186-1.759 2.609 0 5.765 1.759 9.345 1.759 2.882 0 4.55-0.879 4.823-3.186h-0.061c-0.425 1.76-1.881 2.488-4.763 2.488zM58.369 10.192c-1.274 1.334-2.427 3.003-2.427 5.4 0 5.946 4.065 8.858 8.859 8.858 2.973 0 4.854-1.426 6.067-2.67l-0.038-0.079c-1.365 1.093-3.177 2.021-6.029 2.021-3.883 0-8.101-2.64-8.101-8.13 0-2.094 0.717-3.988 1.718-5.353l-0.049-0.046zM62.798 16.714v-4.49l-0.728 0.516v4.338c0 0.424-0.091 0.727-0.242 1.031l0.061 0.030c0.394-0.334 0.91-0.789 0.91-1.426z"></path>
                <path class="path5" d="M89.755 4.913v15.381c0 0.788 0.728 1.517 1.334 1.668l0.85-0.849 0.152 0.152-3.246 3.277h-0.091c-1.153-0.424-2.973-1.578-2.973-3.367v-14.501l-1.123-1.122-0.78 0.797-0.13-0.13 3.458-3.518h0.091l2.457 2.214zM89.3 23.753c-1.122-0.395-2.548-1.123-2.548-2.882v-14.623l-1.387-1.418-0.554 0.569 1.183 1.184v14.531c0 1.699 1.669 2.791 2.791 3.216l0.516-0.576z"></path>
                <path class="path6" d="M74.238 12.042c1.699-0.819 4.399-2.397 6.098-3.64h0.122c1.092 1.183 2.912 3.216 4.338 4.459v0.122l-6.583 4.065v2.942c0.668 0.455 2.639 1.487 3.762 1.881l2.579-2.397 0.152 0.182-5.248 4.884h-0.061c-1.79-0.759-4.005-1.759-5.37-2.518 0.122-0.425 0.213-1.881 0.213-3.55v-6.431zM79.911 23.874c-1.76-0.759-3.519-1.456-4.884-2.215 0.121-0.516 0.182-1.517 0.182-3.186v-6.674l-0.728 0.364v6.31c0 1.668-0.061 3.033-0.212 3.459 1.365 0.758 3.368 1.638 5.127 2.427l0.516-0.485zM78.212 16.805l3.246-2.033c-1.123-1.275-2.276-2.64-3.246-3.702v5.734zM79.092 10.586l-0.667 0.364c0.971 1.062 2.093 2.427 3.246 3.701l0.637-0.424c-1.122-1.274-2.245-2.609-3.216-3.641z"></path>
                <path class="path7" d="M92.907 12.042c1.699-0.819 4.399-2.397 6.098-3.64h0.121c1.092 1.183 2.912 3.216 4.338 4.459v0.122l-6.583 4.065v2.942c0.668 0.455 2.639 1.487 3.762 1.881l2.578-2.397 0.152 0.182-5.248 4.884h-0.061c-1.79-0.759-4.005-1.759-5.37-2.518 0.122-0.425 0.212-1.881 0.212-3.55v-6.431zM98.58 23.874c-1.76-0.759-3.519-1.456-4.884-2.215 0.121-0.516 0.182-1.517 0.182-3.186v-6.674l-0.728 0.364v6.31c0 1.668-0.061 3.033-0.212 3.459 1.365 0.758 3.368 1.638 5.127 2.427l0.516-0.485zM96.881 16.805l3.247-2.033c-1.123-1.275-2.276-2.64-3.247-3.702v5.734zM97.761 10.586l-0.667 0.364c0.971 1.062 2.093 2.427 3.246 3.701l0.637-0.424c-1.122-1.274-2.245-2.609-3.216-3.641z"></path>
                <path class="path8" d="M104.621 21.993v-9.95l5.249-3.671h0.091c0.576 0.303 4.429 1.82 4.976 2.032 0.151 0.061 0.364 0.121 0.576 0.121 0.334 0 0.728-0.121 0.91-0.212v0.091c-0.273 0.334-0.728 0.941-0.728 1.456v8.949c0 2.063 0.455 2.822 1.214 3.641v0.091c-1.153 1.153-3.974 3.732-5.158 5.218h-0.030c-1.122-0.637-3.095-1.153-4.702-1.153-1.213 0-2.578 0.334-3.488 1.032l-0.061-0.061c0.91-2.063 2.7-4.187 5.127-4.187 1.669 0 3.731 0.728 5.491 1.608-1.153-1.426-2.366-3.398-2.366-5.794l-3.428 3.246h-0.062l-3.61-2.457zM107.017 27.636c-1.062 0-2.184 0.576-2.791 1.335v0.030c0.698-0.364 1.517-0.607 2.791-0.607 1.517 0 3.55 0.424 4.642 1.062l0.516-0.607c-1.305-0.697-3.125-1.213-5.158-1.213zM108.261 24.208l0.606-0.546-3.276-2.245v-9.799l-0.728 0.515v9.739l3.398 2.336zM112.69 11.709l-4.096-1.639v0.759l3.368 1.395v9.101c0 1.942 0.97 3.883 2.275 5.491l0.546-0.516c-1.153-1.486-2.093-3.064-2.093-5.005v-9.586zM111.72 20.931v-8.556l-3.125-1.304v9.677l1.911 1.304 1.214-1.122z"></path>
                <path class="path9" d="M122.796 12.528v7.766c0 0.788 0.637 1.425 1.365 1.608l0.82-0.819 0.151 0.182-3.246 3.277h-0.091c-1.122-0.424-2.973-1.578-2.973-3.337v-8.829l-1.122-1.092-0.789 0.789-0.121-0.152 3.458-3.518h0.091l2.458 2.336v1.486l3.185-3.822h0.122c0.606 0.576 1.608 1.486 2.336 2.032v0.060l-2.458 2.973h-0.090c-0.668-0.576-1.699-1.517-2.185-2.033l-0.91 1.092zM122.371 23.753c-1.153-0.395-2.579-1.123-2.579-2.882v-8.919l-1.395-1.395-0.546 0.577 1.183 1.153v8.828c0 1.698 1.638 2.791 2.791 3.215l0.546-0.576zM123.828 11.284c0.516 0.485 1.456 1.395 2.063 1.911l0.485-0.607c-0.576-0.485-1.638-1.486-2.063-1.881l-0.485 0.577z"></path>
                <path class="path10" d="M131.476 24.541l-3.368-2.367v-4.793c1.001-0.667 3.003-2.063 3.762-2.608-1.426-0.789-2.67-1.82-3.428-2.852v-0.090c2.154-1.244 3.458-2.215 4.793-3.428h0.091c0 0 4.55 2.123 4.793 2.245 0.212 0.091 0.394 0.182 0.667 0.182 0.333 0 0.667-0.152 0.849-0.243v0.122c-0.364 0.334-0.728 0.85-0.728 1.457v8.13c0 0.788 0.759 1.486 1.365 1.668l0.849-0.849 0.152 0.151-3.246 3.277h-0.091c-1.153-0.425-2.882-1.639-2.974-3.246l-3.337 3.246h-0.152zM132.083 23.874l-3.003-2.184v-4.672l-0.728 0.486v4.55l3.246 2.306 0.485-0.486zM134.935 15.804v-2.639l-4.43-2.397c-0.273 0.243-1.517 0.971-1.79 1.123 0.971 1.366 3.64 3.307 6.219 3.914zM138.545 23.783c-1.153-0.394-2.639-1.335-2.639-2.942v-8.221l-4.551-2.427-0.697 0.455 4.52 2.396v8.070c0 1.577 1.638 2.791 2.791 3.185l0.576-0.516zM134.935 21.052v-5.036c-1.002-0.242-1.972-0.637-2.882-1.122v6.189l1.638 1.153 1.244-1.184z"></path>
                <path class="path11" d="M146.83 12.345l3.882-3.943h0.092c0.303 0.242 2.093 1.91 2.397 2.093 0.151 0.091 0.394 0.122 0.576 0.122 0.364 0 0.697-0.122 0.88-0.212v0.091c-0.334 0.273-0.728 0.971-0.728 1.456v9.799c-1.608 0.364-2.852 1.335-4.338 3.003h-0.060l-2.7-0.607v1.911l1.274 1.183-3.064 2.579h-0.060l-2.882-2.488 0.758-0.789v-3.276c-0.303-0.122-0.788-0.303-1.031-0.364v-0.091c0.334-0.152 1.031-1.153 1.031-1.972v-8.464l-1.062-1.092-0.819 0.789-0.152-0.152 3.458-3.518h0.091l2.458 2.336v1.607zM143.099 26.635l-0.698 0.667 2.639 2.245 0.516-0.394-2.153-1.851 0.424-0.425v-14.896l-1.365-1.396-0.516 0.516 1.153 1.183v14.35zM149.955 21.507v-8.827l-1.608-1.578-1.517 1.547v8.222l3.124 0.637zM149.5 24.542c0.182-0.213 0.425-0.486 0.607-0.607l-3.276-0.728v0.758l2.669 0.577zM148.529 10.95l1.669 1.638v8.829l0.728-0.394v-8.859l-1.82-1.82-0.577 0.607z"></path>
                <path class="path12" d="M157.334 28.151c3.155-0.273 6.219-1.456 6.219-4.884v-10.618l-1.426-1.669-1.669 1.73v8.069l1.244 1.183-3.034 2.579h-0.091l-2.882-2.488 0.759-0.789v-16.29c0-1.275-1.002-1.972-1.578-2.093v-0.061c0.213-0.151 0.607-0.212 1.153-0.212 1.032 0 1.79 0.606 2.063 1.365h0.061c0.698-1.032 1.729-1.365 2.73-1.365 0.273 0 0.546 0.030 0.788 0.061v0.091c-0.485 0.182-1.213 0.789-1.213 2.518v7.13l3.883-4.004h0.091c0.273 0.242 1.851 1.729 2.306 2.032 0.182 0.121 0.425 0.212 0.667 0.212 0.364 0 0.698-0.152 0.88-0.243v0.091c-0.364 0.334-0.728 0.85-0.728 1.456v9.435c0 4.035-4.399 6.461-10.224 6.917v-0.151zM155.393 2.911v0.030c0.515 0.182 1.304 0.85 1.304 2.033v16.382l-0.698 0.698 2.639 2.245 0.516-0.425-2.215-1.82 0.486-0.485v-16.594c0-1.275-1.062-1.972-2.033-2.063zM162.37 26.665c1.213-0.759 2.124-1.608 2.124-3.398v-10.921l-1.729-2.033-0.485 0.516 1.487 1.759v10.679c0 1.486-0.546 2.609-1.457 3.337l0.061 0.061z"></path>
            </symbol>
            <symbol id="USATODAY" viewBox="0 0 51 32">
                <title>USATODAY</title>
                <path fill="#009fda" class="path1" d="M0 0h51.016v32h-51.016v-32z"></path>
                <path fill="#fff" class="path2" d="M40.334 10.977h2.203l-1.089-3.014-1.114 3.014zM36.53 4.484l-1.206 2.273c0 0-1.089-0.812-2.295-0.835-0.534 0-0.974 0.255-1.090 0.766-0.116 0.533 0.116 0.927 1.623 1.322 1.508 0.417 2.203 0.74 2.714 1.506 0.579 0.881 0.649 1.693 0.649 1.693l2.898-7.536h3.294l4.36 11.872h-3.363l-0.766-2.087h-3.988l-0.765 2.087h-3.246l0.348-1.16c0 0-0.998 1.299-3.201 1.299-2.481 0-4.477-1.577-4.477-1.577l1.369-2.503c0 0 0.928 1.019 2.134 1.23 0.996 0.162 1.738-0.094 1.924-0.766 0.232-0.834-0.186-1.16-0.928-1.391-0.765-0.232-2.040-0.394-2.898-1.089-0.881-0.696-1.044-1.739-0.997-2.736 0.070-0.974 0.463-2.111 1.415-2.806 0.996-0.72 2.155-0.72 2.922-0.696 2.18 0.093 3.571 1.135 3.571 1.135z"></path>
                <path fill="#fff" class="path3" d="M12.465 14.967c-0.069-0.072-0.163-0.116-0.269-0.116h-1.238l-0.071-0.319h3.118c0.109 0 0.206-0.043 0.278-0.115h5.154c0.208 0.197 0.443 0.383 0.712 0.55h-7.683zM11.35 13.552v-0.148h3.73c0.109 0 0.207-0.044 0.28-0.116h3.21c0.098 0.18 0.216 0.365 0.352 0.55h-4.64c-0.072-0.072-0.17-0.117-0.278-0.117h-2.743l0.089-0.169zM11.745 12.299l0.015-0.024h4.029c0.112 0 0.213-0.044 0.287-0.116h2.041c0.042 0.155 0.1 0.342 0.181 0.55h-2.937c-0.072-0.071-0.171-0.116-0.28-0.116h-3.487l0.152-0.293zM10.237 11.372l-0.279-0.226h6.166c0.109 0 0.207-0.044 0.278-0.115h1.622l0.001 0.549h-1.95c-0.074-0.071-0.175-0.115-0.287-0.115h-4.703l-0.848-0.091zM8.777 10.096l-0.057-0.080h7.526c0.111 0 0.211-0.045 0.282-0.116h1.493l0.001 0.55h-1.619c-0.071-0.072-0.17-0.116-0.278-0.116h-7.059l-0.288-0.238zM8.266 9.099l-0.070-0.212h1.042l0.095 0.118 0.108 0.199h-1.089l-0.086-0.104zM11.327 8.010l0.048-0.253h4.418c0.111 0 0.211-0.044 0.285-0.116h1.937l0.001 0.55h-1.614c-0.073-0.071-0.173-0.115-0.283-0.115h-4.91l0.118-0.065zM11.93 6.827l0.090-0.199h3.055c0.111 0 0.21-0.043 0.283-0.115h2.653l0.001 0.549h-1.935c-0.074-0.071-0.174-0.115-0.285-0.115h-3.951l0.088-0.12zM9.843 5.551l0.039-0.052h0.552l0.102 0.318h-0.598l-0.095-0.266zM9.403 4.37h0.273l0.043 0.318h-0.253l-0.063-0.318zM12.459 4.254h5.545l0.002 0.55h-3.726c-0.073-0.072-0.172-0.117-0.283-0.117h-3.487l-0.011-0.318h1.677c0.11 0 0.21-0.043 0.283-0.115zM18.008 5.933h-2.65c-0.074-0.072-0.172-0.116-0.283-0.116h-4.049v-0.318h2.971c0.11 0 0.21-0.044 0.283-0.117h3.728l0 0.55zM18.019 9.321h-1.491c-0.072-0.072-0.172-0.117-0.282-0.117h-6.058l-0.019-0.199 0.062-0.118h5.889c0.11 0 0.21-0.045 0.283-0.116h1.616l0.002 0.55zM25.145 3.673v7.397c0 0.325-0.348 1.809-1.901 1.809-1.576 0-2.041-1.415-2.041-1.786v-7.42l-8.744 0.001c-0.072-0.071-0.172-0.116-0.283-0.116h-3.687c-0.178 0-0.328 0.116-0.383 0.276l-0.025 0.001c0 0-0.417 0.115-0.51 0.348-0.047 0.115 0.162 0.3 0.162 0.3l-0.335 0.204h-0.73c-0.225 0-0.405 0.182-0.405 0.406 0 0.089 0.029 0.171 0.078 0.238v0.22l-0.186 0.266h-0.566c-0.224 0-0.405 0.181-0.405 0.406 0 0.224 0.181 0.405 0.405 0.405h0.149l-0.092 0.318h-0.775c-0.225 0-0.406 0.182-0.406 0.405 0 0.225 0.181 0.406 0.406 0.406h1.064l-0.153 0.318h-1.236c-0.224 0-0.405 0.182-0.405 0.406s0.181 0.406 0.405 0.406h1.678l0.024 0.048 0.214 0.268h-2.043c-0.224 0-0.405 0.183-0.405 0.406s0.182 0.406 0.405 0.406h2.718l0.086 0.149 0.45 0.169h-3.133c-0.22 0-0.4 0.181-0.4 0.405s0.18 0.406 0.4 0.406h3.891l0.013 0.318h-3.568c-0.226 0-0.41 0.181-0.41 0.405s0.184 0.406 0.41 0.406h3.395l0.073 0.317h-2.759c-0.222 0-0.4 0.182-0.4 0.406s0.178 0.406 0.4 0.406h3.266l0.182 0.317h-2.372c-0.22 0-0.397 0.182-0.397 0.406s0.178 0.405 0.397 0.405h2.901l0.172 0.319h-1.265c-0.213 0-0.386 0.181-0.386 0.405s0.172 0.406 0.386 0.406h3.726c0.106 0 0.2-0.046 0.269-0.117h9.091c0.492 0.122 1.050 0.191 1.687 0.185 4.754-0.069 5.171-3.942 5.171-4.127v-7.931h-3.27z"></path>
                <path fill="#fff" class="path4" d="M37.964 16.589h3.663l2.088 3.131 2.019-3.131h3.547l-4.058 6.030v5.796h-3.2v-5.727z"></path>
                <path fill="#fff" class="path5" d="M34.672 23.962l1.16-3.315 1.16 3.315h-2.319zM24.515 25.702v-6.493c0 0 3.943-0.811 3.943 3.178 0 4.174-3.943 3.315-3.943 3.315zM15.095 25.759c-1.841 0-3.334-1.427-3.334-3.188s1.493-3.189 3.334-3.189c1.841 0 3.333 1.427 3.333 3.189s-1.492 3.188-3.333 3.188zM37.386 16.589h-3.131l-2.695 7.050c0.061-0.401 0.097-0.83 0.097-1.299 0-5.102-4.568-5.751-4.985-5.751h-5.45v3.966c-0.856-2.433-3.262-4.186-6.098-4.186-2.079 0-3.925 0.941-5.102 2.401v-2.181h-7.814v2.736h2.25v9.089h3.2v-9.159h2.012c-0.62 0.945-0.979 2.061-0.979 3.257 0 3.395 2.88 6.146 6.435 6.146 2.836 0 5.242-1.753 6.098-4.185v3.941h5.218c0.213 0 2.71-0.198 4.171-2.296l-0.878 2.296h3.2l0.858-2.086h3.943l0.765 2.086h3.292l-4.406-11.826z"></path>
                <path fill="#fff" class="path6" d="M47.273 27.5c0.086 0 0.136-0.018 0.136-0.116 0-0.092-0.099-0.099-0.172-0.099h-0.134v0.215h0.17zM47.103 28.029h-0.192v-0.897h0.335c0.232 0 0.368 0.066 0.368 0.271 0 0.165-0.097 0.224-0.216 0.233l0.228 0.392h-0.227l-0.206-0.377h-0.091v0.377zM47.242 26.942c-0.331 0-0.597 0.256-0.597 0.64 0 0.381 0.264 0.638 0.593 0.638h0.005v0.003c0.322 0 0.595-0.258 0.595-0.641s-0.273-0.639-0.595-0.639zM47.242 28.414c-0.443 0-0.838-0.306-0.838-0.832s0.395-0.833 0.838-0.833c0.44 0 0.836 0.307 0.836 0.833s-0.396 0.832-0.836 0.832z"></path>
            </symbol>
            <symbol id="Forbes" viewBox="0 0 82 32">
                <title>Forbes</title>
                <path class="path1" d="M45.779 6.522l-0.212 0.042c-0.116 0.026-1.306 0.249-2.645 0.497s-2.486 0.46-2.549 0.476c-0.095 0.021-0.116 0.058-0.106 0.227 0.011 0.18 0.026 0.201 0.222 0.243 0.672 0.148 0.793 0.201 1.042 0.455 0.301 0.317 0.444 0.719 0.534 1.56 0.069 0.672 0.085 12.213 0.016 13.916l-0.037 1.010 0.545 0.116c2.063 0.444 4.12 0.598 5.411 0.402 1.608-0.238 2.782-0.793 3.782-1.772 1.428-1.412 2.116-3.412 2.063-5.871-0.053-1.264-0.264-2.095-0.793-3.121-0.719-1.391-1.931-2.364-3.316-2.65-1.031-0.217-2.37-0.048-3.38 0.428-0.254 0.116-0.497 0.212-0.539 0.212-0.069 0-0.074-0.391-0.058-3.084l0.021-3.089zM4.12 6.876l0.016 0.333 0.016 0.328 0.476 0.058c0.635 0.079 0.867 0.148 1.121 0.333 0.391 0.28 0.629 0.693 0.778 1.343 0.233 1.010 0.317 3.29 0.28 7.548-0.042 4.501-0.101 5.437-0.386 6.347-0.238 0.746-0.677 1.142-1.401 1.264-0.2 0.032-0.483 0.085-0.629 0.116l-0.266 0.058v0.571h9.468v-0.291c0-0.159-0.016-0.291-0.032-0.291-0.254 0-1.428-0.254-1.618-0.349-0.672-0.338-0.979-1.142-1.1-2.851-0.085-1.217-0.169-4.797-0.116-4.85s2.285 0.037 2.549 0.101c0.719 0.175 1.28 0.883 1.555 1.989l0.127 0.487 0.645 0.032v-6.141h-0.344c-0.323 0-0.344 0.011-0.344 0.122 0 0.201-0.201 0.836-0.391 1.232-0.296 0.629-0.714 1.005-1.248 1.127-0.132 0.032-0.751 0.079-1.375 0.111-0.878 0.037-1.142 0.037-1.179-0.016-0.058-0.090 0.079-7.056 0.148-7.378l0.026-0.122 3.888 0.032 0.45 0.164c1.047 0.376 1.804 1.137 2.433 2.465 0.138 0.302 0.323 0.735 0.402 0.968s0.148 0.434 0.153 0.439c0.011 0.011 0.185-0.032 0.386-0.095l0.376-0.116-0.026-1.724c-0.016-0.952-0.037-2.095-0.058-2.534l-0.026-0.809h-14.752zM39.585 11.753c-0.058 0-0.116 0-0.18 0.005-1.312 0.074-2.481 0.947-3.316 2.481-0.143 0.259-0.286 0.465-0.323 0.465-0.053 0-0.058-0.291-0.032-1.455l0.037-1.46-0.127 0.032c-0.069 0.016-1.127 0.227-2.348 0.476-2.623 0.524-2.988 0.603-3.047 0.64-0.026 0.016-0.048 0.111-0.048 0.212 0 0.196-0.026 0.185 0.571 0.28 0.82 0.132 1.105 0.534 1.227 1.698 0.164 1.523 0.101 7.453-0.085 8.262-0.095 0.413-0.338 0.815-0.582 0.952-0.095 0.053-0.381 0.138-0.635 0.19l-0.471 0.090-0.016 0.28-0.016 0.275h7.78v-0.571l-0.413-0.037c-0.941-0.079-1.201-0.175-1.449-0.529-0.36-0.518-0.439-1.476-0.439-5.347v-3.025l0.132-0.143c0.164-0.175 0.682-0.418 1.047-0.497 0.74-0.153 1.693-0.021 2.433 0.344 0.212 0.106 0.397 0.18 0.407 0.169 0.021-0.021 1.243-3.242 1.28-3.38 0.016-0.058-0.053-0.116-0.259-0.196-0.386-0.153-0.725-0.222-1.132-0.212zM23.775 11.795c-1.899 0-3.427 0.592-4.607 1.772-1.259 1.269-1.925 3.041-1.925 5.115 0 2.158 0.603 3.898 1.772 5.115 0.64 0.672 1.269 1.074 2.169 1.396 0.317 0.111 0.55 0.164 1.402 0.323 0.074 0.016 0.561 0.016 1.084 0.005 0.709-0.016 1.068-0.048 1.402-0.122 0.936-0.222 1.687-0.555 2.354-1.053 1.629-1.217 2.518-3.078 2.602-5.437 0.079-2.322-0.619-4.3-1.978-5.58-1.095-1.037-2.481-1.534-4.274-1.534zM61.461 11.795c-1.798 0-3.279 0.598-4.443 1.793-0.952 0.952-1.481 2.021-1.798 3.523-0.106 0.455-0.106 0.688-0.106 1.64 0 0.947 0 1.19 0.106 1.624 0.582 2.777 2.433 4.602 5.078 5.072 0.635 0.116 1.64 0.127 2.274 0.021 1.217-0.201 2.433-0.788 3.279-1.608 0.476-0.45 0.635-0.666 0.582-0.783-0.159-0.302-0.159-0.302-0.635-0.026-0.688 0.439-1.058 0.561-1.904 0.651-0.952 0.101-1.904-0.063-2.698-0.497-0.582-0.286-1.269-0.942-1.587-1.534-0.423-0.809-0.688-1.751-0.74-2.962-0.053-0.513-0.053-0.64 0-0.677 0.053-0.026 1.798-0.048 3.967-0.048h3.861v-0.153c0-0.349-0.106-1.28-0.212-1.772-0.423-1.973-1.481-3.375-3.068-3.941-0.582-0.227-1.164-0.323-1.957-0.323zM73.045 11.827c-1.164 0-1.269 0.011-1.745 0.138-1.428 0.386-2.486 1.179-3.015 2.285-0.264 0.592-0.37 1.042-0.37 1.751 0 1.005 0.264 1.751 0.899 2.401 0.476 0.555 1.164 0.952 2.327 1.381 0.899 0.338 1.851 0.804 2.222 1.1 0.212 0.175 0.37 0.376 0.476 0.598 0.159 0.323 0.212 0.365 0.212 0.867 0 0.487-0.053 0.561-0.212 0.883-0.37 0.852-1.164 1.269-2.222 1.185-1.428-0.116-2.433-1.063-3.279-3.062-0.212-0.518-0.212-0.529-0.529-0.407l-0.159 0.058 0.053 1.862c0 1.656 0 1.872 0.106 1.931 0.212 0.18 1.745 0.54 2.803 0.666 0.846 0.101 2.063 0.101 2.698 0.011 2.274-0.344 3.702-1.55 4.073-3.39 0.212-0.889 0.106-1.878-0.212-2.539-0.423-0.926-1.217-1.481-3.068-2.274-1.375-0.582-2.222-1.079-2.539-1.529-0.317-0.365-0.37-0.651-0.37-1.142 0-0.741 0.264-1.306 0.793-1.661 0.476-0.296 1.005-0.37 1.693-0.217 0.793 0.19 1.375 0.672 1.904 1.571 0.159 0.286 0.529 1.090 0.688 1.587 0.053 0.074 0.053 0.079 0.264 0.026 0.106-0.037 0.212-0.079 0.264-0.101v-1.682l-0.053-1.65-0.212-0.079c-0.317-0.138-1.164-0.37-1.693-0.471-0.423-0.079-0.793-0.095-1.798-0.095zM23.463 12.694c0.508 0 0.788 0.127 1.185 0.524 0.947 0.957 1.396 2.777 1.391 5.638-0.005 2.285-0.233 3.724-0.741 4.697-0.249 0.471-0.709 0.904-1.084 1.016-1.449 0.428-2.481-0.947-2.883-3.835-0.132-0.931-0.127-3.47 0-4.538 0.286-2.322 1-3.496 2.132-3.502zM61.197 12.7c0.899-0.005 1.481 1.259 1.587 3.56v0.656l-0.899 0.032c-0.529 0.016-1.375 0.037-1.904 0.048l-1.005 0.016v-0.212c0-0.122 0.053-0.428 0.106-0.693 0.317-2.132 1.111-3.406 2.116-3.406zM47.048 13.408c0.45 0 0.508 0.016 0.883 0.201 0.91 0.45 1.534 1.566 1.825 3.263 0.106 0.629 0.122 2.343 0.021 3.094-0.238 1.846-0.841 3.338-1.645 4.062-0.317 0.286-0.619 0.439-1 0.513-0.28 0.053-0.365 0.053-0.867 0.016-0.217-0.016-0.264-0.042-0.307-0.153-0.069-0.18-0.148-6.379-0.116-8.854l0.026-1.936 0.354-0.101c0.233-0.069 0.508-0.106 0.825-0.106z"></path>
            </symbol>
            <symbol id="Economist" viewBox="0 0 63 32">
                <title>Economist</title>
                <path fill="#f00" class="path1" d="M0 16v-16h62.718v32h-62.718v-16zM13.517 22.986c0.291-0.101 0.682-0.356 0.912-0.593l0.185-0.191-0.178-0.425-0.208 0.199c-0.403 0.386-0.943 0.559-1.379 0.441-0.704-0.19-1.087-1.060-1.087-2.468 0-1.412 0.392-2.075 1.23-2.079 0.503-0.003 0.727 0.226 0.887 0.907 0.062 0.263 0.084 0.294 0.189 0.266 0.065-0.018 0.175-0.032 0.244-0.033 0.123-0.001 0.125-0.014 0.125-0.665v-0.665l-0.404-0.094c-0.622-0.145-1.339-0.169-1.769-0.059-1.173 0.301-1.838 1.301-1.84 2.769-0.002 1.23 0.469 2.15 1.312 2.565 0.546 0.269 1.226 0.316 1.779 0.124zM19.176 22.988c0.421-0.117 0.694-0.265 0.992-0.539 0.701-0.643 1.015-1.67 0.833-2.724-0.244-1.411-1.254-2.276-2.659-2.276-1.61 0-2.622 1.097-2.619 2.838 0.002 1.313 0.579 2.253 1.624 2.649 0.542 0.205 1.209 0.224 1.83 0.051zM17.979 22.555c-0.585-0.351-0.884-1.235-0.888-2.625-0.002-0.902 0.094-1.335 0.374-1.674 0.55-0.668 1.493-0.384 1.918 0.577 0.22 0.498 0.309 0.985 0.311 1.71 0.003 1.068-0.238 1.75-0.713 2.019-0.305 0.173-0.706 0.169-1.002-0.008zM32.864 23.015c0.591-0.127 1.247-0.604 1.556-1.129 0.333-0.568 0.482-1.423 0.37-2.115-0.221-1.362-1.145-2.23-2.455-2.306-0.902-0.052-1.595 0.189-2.113 0.736-0.484 0.512-0.729 1.223-0.729 2.12-0.001 1.955 1.443 3.109 3.371 2.695zM31.789 22.575c-0.598-0.304-0.923-1.243-0.926-2.672-0.002-1.026 0.161-1.539 0.591-1.858 0.227-0.168 0.693-0.19 0.973-0.047 0.66 0.337 1.029 1.231 1.039 2.518 0.008 1.027-0.208 1.707-0.641 2.014-0.258 0.184-0.724 0.204-1.037 0.045zM53.071 22.952c0.402-0.148 0.84-0.58 0.968-0.956 0.106-0.31 0.123-0.838 0.035-1.073-0.157-0.417-0.537-0.773-1.627-1.519-0.237-0.163-0.482-0.377-0.544-0.477-0.134-0.217-0.146-0.569-0.025-0.741 0.179-0.255 0.616-0.387 0.968-0.292 0.259 0.070 0.368 0.206 0.507 0.633 0.064 0.198 0.123 0.287 0.186 0.284 0.051-0.003 0.18-0.009 0.287-0.014l0.195-0.009v-0.498c0-0.351-0.023-0.521-0.078-0.576-0.043-0.043-0.319-0.123-0.613-0.179-1.578-0.297-2.488 0.272-2.486 1.554 0.001 0.713 0.249 1.057 1.264 1.751 0.856 0.586 1.143 0.999 0.957 1.379-0.138 0.282-0.347 0.386-0.775 0.386-0.338 0-0.402-0.017-0.527-0.142-0.078-0.078-0.203-0.292-0.277-0.474-0.142-0.351-0.249-0.414-0.566-0.335-0.128 0.032-0.133 0.052-0.133 0.555 0 0.352 0.023 0.539 0.070 0.576 0.038 0.030 0.233 0.099 0.432 0.154 0.773 0.213 1.232 0.216 1.782 0.013zM58.346 22.904c0.303-0.12 0.331-0.146 0.348-0.319 0.016-0.163 0.004-0.183-0.083-0.15-0.056 0.021-0.252 0.051-0.436 0.067-0.429 0.036-0.68-0.083-0.837-0.397-0.103-0.207-0.113-0.355-0.13-2.021l-0.018-1.798h1.221l0.032-0.161c0.018-0.088 0.049-0.226 0.069-0.307l0.037-0.146h-1.35v-1.449h-0.548l-0.037 0.217c-0.056 0.329-0.326 0.857-0.525 1.024-0.179 0.15-0.486 0.264-0.717 0.264-0.113 0-0.125 0.027-0.125 0.279v0.279h0.659l0.024 1.798c0.026 1.943 0.052 2.139 0.343 2.519 0.078 0.103 0.275 0.254 0.437 0.337 0.272 0.139 0.332 0.148 0.801 0.122 0.347-0.019 0.611-0.069 0.836-0.158zM8.645 22.99l0.199-0.033 0.098-0.761c0.054-0.418 0.111-0.83 0.128-0.914 0.029-0.149 0.024-0.153-0.228-0.153-0.246 0-0.258 0.007-0.258 0.157 0 0.279-0.169 0.669-0.366 0.841-0.26 0.228-0.504 0.283-1.259 0.283-0.977 0-0.908 0.127-0.929-1.702l-0.017-1.49 0.742 0.026c1.011 0.035 1.14 0.111 1.242 0.728 0.032 0.191 0.050 0.209 0.213 0.209l0.179-0 0.006-1.226 0.006-1.226h-0.181c-0.178 0-0.182 0.005-0.242 0.346-0.034 0.194-0.106 0.392-0.165 0.45-0.187 0.187-0.793 0.256-1.5 0.171l-0.293-0.035v-2.828l0.683 0.004c0.376 0.002 0.783 0.034 0.905 0.071 0.277 0.084 0.451 0.328 0.504 0.709l0.039 0.281 0.407-0.034v-1.617h-4.989l-0 0.141c-0 0.128 0.031 0.146 0.337 0.205 0.695 0.132 0.666-0.020 0.666 3.529 0 3.229-0.003 3.258-0.316 3.418-0.087 0.044-0.277 0.097-0.422 0.119-0.232 0.034-0.265 0.055-0.265 0.174v0.135l1.742 0.016c0.958 0.009 2.056 0.021 2.439 0.028s0.787-0.002 0.896-0.020zM25.086 22.899c-0.001-0.119-0.075-0.184-0.306-0.27-0.336-0.125-0.356-0.232-0.359-1.94-0.003-1.633 0.018-1.776 0.323-2.133 0.233-0.272 0.469-0.383 0.818-0.383 0.779 0 0.955 0.556 0.905 2.862-0.031 1.435-0.055 1.521-0.452 1.622-0.161 0.041-0.204 0.079-0.204 0.181v0.13h2.795l-0.018-0.124c-0.014-0.099-0.068-0.133-0.262-0.166-0.338-0.057-0.497-0.176-0.539-0.402-0.020-0.105-0.041-0.927-0.047-1.826-0.009-1.358-0.027-1.682-0.104-1.914-0.133-0.399-0.381-0.707-0.721-0.895-0.269-0.149-0.343-0.164-0.825-0.164-0.654 0-0.915 0.106-1.395 0.564l-0.333 0.318-0.001-0.273c-0-0.15-0.016-0.364-0.034-0.474l-0.033-0.201-0.354 0.074c-0.278 0.058-1.381 0.188-1.599 0.188-0.023 0-0.042 0.063-0.042 0.139 0 0.118 0.026 0.139 0.169 0.139 0.318 0 0.542 0.137 0.607 0.372 0.085 0.308 0.074 3.777-0.013 4.031-0.077 0.224-0.258 0.334-0.554 0.335-0.186 0.001-0.209 0.016-0.209 0.14v0.139h1.394c1.078 0 1.394-0.016 1.393-0.070zM38.847 22.848c-0.013-0.087-0.086-0.144-0.255-0.2-0.131-0.043-0.269-0.133-0.307-0.2-0.049-0.086-0.074-0.573-0.087-1.69-0.017-1.512-0.013-1.58 0.104-1.853 0.227-0.528 0.65-0.785 1.177-0.714 0.298 0.040 0.475 0.218 0.592 0.594 0.081 0.262 0.096 0.555 0.096 1.926 0 1.183-0.019 1.649-0.069 1.737-0.038 0.066-0.176 0.156-0.307 0.2-0.17 0.056-0.243 0.113-0.255 0.2l-0.018 0.121h2.572v-0.137c0-0.112-0.035-0.143-0.191-0.173-0.393-0.074-0.392-0.069-0.41-1.907l-0.016-1.647 0.147-0.301c0.187-0.383 0.474-0.584 0.883-0.618 0.403-0.033 0.621 0.086 0.777 0.424 0.116 0.25 0.121 0.334 0.121 2.025 0 1.651-0.007 1.772-0.105 1.88-0.058 0.064-0.19 0.132-0.293 0.151-0.151 0.028-0.187 0.061-0.187 0.168v0.133h2.772l-0.025-0.133c-0.020-0.106-0.069-0.139-0.245-0.162-0.308-0.041-0.479-0.171-0.547-0.415-0.034-0.123-0.058-0.868-0.059-1.802-0-1.739-0.025-1.925-0.323-2.393-0.107-0.168-0.259-0.306-0.462-0.418-0.273-0.151-0.351-0.167-0.804-0.167-0.438 0-0.543 0.020-0.823 0.158-0.177 0.087-0.468 0.3-0.647 0.474l-0.326 0.316-0.198-0.315c-0.135-0.215-0.284-0.366-0.468-0.474-0.246-0.144-0.318-0.159-0.8-0.159-0.64 0-0.894 0.104-1.398 0.571l-0.33 0.305-0.001-0.354c-0-0.195-0.015-0.407-0.032-0.472-0.031-0.114-0.042-0.116-0.387-0.043-0.279 0.058-1.382 0.188-1.601 0.189-0.023 0-0.042 0.063-0.042 0.139 0 0.116 0.027 0.139 0.159 0.139 0.297 0 0.517 0.115 0.6 0.312 0.116 0.277 0.113 3.844-0.003 4.122-0.089 0.212-0.26 0.304-0.564 0.304-0.167 0-0.191 0.018-0.191 0.139v0.139h2.795l-0.018-0.121zM49.539 22.88c-0.019-0.049-0.034-0.108-0.034-0.132s-0.116-0.057-0.257-0.073c-0.393-0.044-0.477-0.163-0.528-0.748-0.024-0.27-0.045-1.397-0.047-2.504l-0.004-2.013-0.404 0.070c-0.222 0.039-0.692 0.099-1.043 0.134s-0.649 0.073-0.66 0.085c-0.065 0.065 0.068 0.252 0.18 0.252 0.233 0 0.481 0.122 0.56 0.275 0.104 0.201 0.166 2.31 0.1 3.392-0.056 0.914-0.099 1.001-0.522 1.056-0.242 0.032-0.326 0.089-0.328 0.224-0.001 0.054 0.338 0.070 1.51 0.070 1.355 0 1.508-0.009 1.477-0.088zM48.34 16.304c0.558-0.289 0.492-1.154-0.105-1.361-0.818-0.285-1.351 0.886-0.609 1.339 0.215 0.131 0.487 0.14 0.713 0.023zM38.495 13.425c0.293-0.072 0.66-0.288 0.962-0.566 0.319-0.294 0.365-0.385 0.284-0.563l-0.065-0.142-0.271 0.253c-0.66 0.618-1.491 0.701-2.017 0.203-0.319-0.303-0.591-1.067-0.593-1.67l-0.001-0.237h3.078l-0.040-0.403c-0.051-0.506-0.144-0.774-0.396-1.143-0.378-0.553-0.913-0.777-1.739-0.729-1.037 0.060-1.803 0.777-2.044 1.913-0.105 0.495-0.105 0.964-0 1.408 0.111 0.472 0.264 0.755 0.599 1.109 0.553 0.584 1.349 0.785 2.244 0.566zM36.767 10.058c0.090-0.538 0.207-0.829 0.416-1.038 0.193-0.193 0.238-0.212 0.517-0.212 0.223 0 0.356 0.034 0.494 0.125 0.214 0.142 0.469 0.612 0.524 0.968l0.035 0.229-0.213 0.036c-0.117 0.020-0.572 0.053-1.011 0.072l-0.799 0.036 0.037-0.218zM27.763 13.254c0-0.14-0.018-0.153-0.209-0.154-0.288-0.001-0.47-0.105-0.585-0.334-0.089-0.177-0.097-0.442-0.098-3.028l-0-2.834 0.627 0.040c0.345 0.022 0.719 0.076 0.832 0.121 0.242 0.096 0.381 0.343 0.381 0.68 0 0.224 0.004 0.229 0.195 0.229h0.195v-1.553l-5.854-0.001-0 0.401c-0 0.22-0.017 0.572-0.036 0.781l-0.036 0.38 0.217-0.018c0.217-0.018 0.218-0.019 0.247-0.297 0.017-0.153 0.060-0.332 0.096-0.397 0.104-0.188 0.436-0.283 1.142-0.326l0.655-0.040v2.879c0 3.228 0.008 3.156-0.377 3.261-0.115 0.031-0.271 0.064-0.348 0.072-0.102 0.011-0.144 0.052-0.156 0.154l-0.016 0.139h3.127v-0.153zM31.777 13.281c0-0.097-0.040-0.135-0.169-0.161-0.093-0.019-0.218-0.097-0.279-0.173-0.103-0.131-0.11-0.231-0.11-1.583 0-1.177 0.016-1.482 0.086-1.65 0.174-0.417 0.497-0.639 0.927-0.639 0.52 0 0.684 0.229 0.778 1.083 0.073 0.666 0.037 2.507-0.053 2.732-0.044 0.109-0.123 0.167-0.286 0.211-0.177 0.048-0.225 0.087-0.225 0.184v0.123h2.509v-0.125c0-0.082-0.034-0.126-0.098-0.126-0.054-0-0.188-0.025-0.298-0.056-0.332-0.092-0.346-0.167-0.381-2.006-0.030-1.578-0.037-1.655-0.162-1.909-0.156-0.317-0.486-0.613-0.782-0.702-0.119-0.036-0.376-0.065-0.572-0.065-0.419 0-0.894 0.201-1.234 0.522l-0.209 0.197v-2.951l-0.125 0.027c-0.357 0.078-0.795 0.137-1.283 0.173-0.338 0.025-0.543 0.063-0.542 0.102 0.002 0.124 0.087 0.185 0.306 0.219 0.271 0.042 0.401 0.188 0.446 0.501 0.019 0.129 0.026 1.44 0.017 2.913-0.019 3.052-0.002 2.936-0.455 3.004-0.226 0.034-0.356 0.143-0.292 0.246 0.013 0.020 0.577 0.037 1.255 0.037h1.232v-0.127z"></path>
            </symbol>
            <symbol id="BBC" viewBox="0 0 106 32">
                <title>bbc</title>
                <path class="path1" d="M57.052 21.397c0 3.207-4.041 3.017-4.041 3.017h-4.041v-5.797h4.041c4.161-0.024 4.041 2.78 4.041 2.78v0zM48.97 9.78h3.079c3.199 0.166 3.078 2.518 3.078 2.518 0 2.922-3.536 2.97-3.536 2.97h-2.622v-5.488zM56.306 16.408c0 0 2.766-1.164 2.742-4.253 0 0 0.421-5.060-6.368-5.678h-7.534v21.216h8.635c0 0 7.216 0.024 7.216-5.987 0 0 0.168-4.086-4.69-5.298v0zM36.811 2.32h31.713v29.52h-31.713v-29.52z"></path>
                <path class="path2" d="M20.481 21.397c0 3.207-4.041 3.017-4.041 3.017h-4.041v-5.797h4.041c4.161-0.024 4.041 2.78 4.041 2.78v0zM12.399 9.78h3.079c3.199 0.166 3.078 2.518 3.078 2.518 0 2.922-3.536 2.97-3.536 2.97h-2.622v-5.488zM19.735 16.408c0 0 2.766-1.164 2.742-4.253 0 0 0.421-5.060-6.368-5.678h-7.534v21.216h8.635c0 0 7.216 0.024 7.216-5.987 0 0 0.168-4.086-4.69-5.298v0zM0.24 2.32h31.713v29.52h-31.713v-29.52z"></path>
                <path class="path3" d="M98.625 7.998v3.92c0 0-3.872-2.352-8.154-2.4 0 0-7.985-0.154-8.346 7.561 0 0-0.289 7.098 8.25 7.502 0 0 3.584 0.428 8.442-2.637v4.063c0 0-6.518 3.825-14.070 0.879 0 0-6.35-2.292-6.59-9.806 0 0-0.265-7.728 8.202-10.293 0 0 2.261-0.855 6.326-0.475 0 0 2.429 0.238 5.941 1.687v0zM73.382 31.84h31.713v-29.52h-31.713v29.52z"></path>
            </symbol>
            <symbol id="CNN" viewBox="0 0 51 32">
                <title>cnn</title>
                <path fill="#c00" class="path1" d="M21.864 3.281c-1.547 0.119-2.857 1.522-2.857 3.501v9.414c0 0.341-0.234 0.633-0.576 0.633h-2.726c-5.901 0.008-5.377-8.127-0.353-8.137h3.013v-2.365h-3.123c-2 0-3.484 0.805-4.485 2.006s-1.504 2.819-1.507 4.432c-0.002 1.613 0.494 3.22 1.518 4.422 1.025 1.199 2.574 2.006 4.696 2.006h5.14c0.339 0 0.62-0.315 0.62-0.681v-11.481c-0.002-0.591 0.306-1.050 0.709-1.184s0.875 0.035 1.151 0.467l0.012 0.013c1.462 2.579 7.267 12.624 7.276 12.642 0.159 0.245 0.349 0.288 0.487 0.24 0.138-0.050 0.278-0.212 0.276-0.611v-11.567c-0.002-0.591 0.306-1.050 0.709-1.184s0.863 0.035 1.142 0.467v0.013h0.021c1.462 2.579 7.267 12.624 7.276 12.642 0.157 0.242 0.342 0.29 0.487 0.24s0.29-0.202 0.288-0.598v-15.269h-2.204v8.912c0 0-1.315-2.423-3.566-6.595-2.206-4.086-6.369-2.395-6.369 1.123v5.472c0 0-1.291-2.423-3.545-6.595-0.964-1.787-2.309-2.471-3.512-2.377v0zM15.629 3.341c-12.267 0-12.147 18.855 0.166 18.866h4.817c2.071 0 3.392-1.322 3.39-3.763v-4.78c0 0 2.705 4.823 3.767 6.713 1.802 3.213 6.158 2.579 6.146-1.434v-5.28c0 0 2.695 4.823 3.755 6.713 1.802 3.213 6.17 2.579 6.158-1.434v-15.605h-2.204v15.269c0.002 0.586-0.283 1.020-0.676 1.158s-0.845-0.035-1.118-0.454h-0.012v-0.023c0 0-5.807-10.017-7.288-12.629-0.005-0.005-0.007 0.005-0.012 0-0.002 0 0.002-0.013 0-0.013-0.152-0.22-0.349-0.268-0.51-0.215-0.166 0.056-0.323 0.209-0.321 0.598v11.564c0.002 0.583-0.276 1.042-0.664 1.184s-0.835-0.045-1.107-0.467v-0.013h-0.012c0 0-5.812-10.037-7.288-12.642-0.154-0.237-0.353-0.295-0.519-0.24s-0.323 0.209-0.321 0.598v11.493c0 0.697-0.531 1.28-1.174 1.28h-5.14c-2.255 0-3.966-0.876-5.096-2.198s-1.687-3.077-1.685-4.828c0.002-1.749 0.559-3.516 1.661-4.838s2.756-2.196 4.895-2.198h3.123v-2.39h-2.735l0.002 0.005z"></path>
            </symbol>
            <symbol id="Techcrunch" viewBox="0 0 51 32">
                <title>tc</title>
                <path fill="#099c00" class="path1" d="M5.4 2.738c6.644-0.001 13.288-0.001 19.932 0 0.003 2.355 0.001 4.71 0.001 7.066-2.215 0.001-4.429-0.001-6.643 0.001-0.003 4.71 0.001 9.421-0.003 14.131-2.223 0.001-4.447 0.002-6.671 0-0.011-4.7-0.004-9.399-0.003-14.099-2.204-0.004-4.409-0.028-6.613-0.034-0.001-2.354-0.002-4.71 0-7.064v0z"></path>
                <path fill="#099c00" class="path2" d="M31.979 2.738c4.429-0.001 8.858-0.001 13.287 0 0.002 2.354 0.001 4.71 0 7.064-4.429 0.003-8.859 0.001-13.288 0.001 0.001-2.355-0.001-4.71 0.001-7.066v0z"></path>
                <path fill="#099c00" class="path3" d="M25.333 9.804h6.645c0.001 2.355-0.001 4.71 0.001 7.065 4.429 0.003 8.858-0.001 13.288 0.002 0.001 2.354 0.002 4.709 0 7.064-6.644 0.001-13.288 0.001-19.932 0-0.003-4.71-0.001-9.421-0.001-14.132v0z"></path>
            </symbol>
            <symbol id="logo" viewBox="0 0 151 32">
                <title>logo</title>
                <path class="path1" d="M13.026 23.864c-2.153 0-4.431-1.16-4.431-3.52v-19.215h-7.081v19.339c0 6.377 5.591 10.063 11.512 10.063 5.963 0 11.554-3.686 11.554-10.063v-19.339h-7.164v19.215c0 2.36-2.236 3.52-4.39 3.52v0zM39.115 30.118v-7.413h5.342c13.873 0 13.873-21.534 0-21.576h-12.755v28.988h7.413zM44.416 16.038h-5.301v-8.282c1.698 0 3.561-0.041 5.301 0 4.307 0.041 4.058 8.282 0 8.282v0zM64.459 1.129h-7.123v1.118l12.424 28.201h3.147l12.299-28.201v-1.118h-7.123l-6.626 16.44h-0.207l-6.792-16.44zM117.466 15.665c0-20.043-29.734-20.043-29.734 0 0 20.085 29.734 20.085 29.734 0v0zM95.352 15.665c0-10.436 14.536-10.436 14.536 0 0 10.519-14.536 10.519-14.536 0v0zM121.318 15.624c0.041 9.856 7.496 14.825 14.867 14.784 6.17 0 12.672-3.23 13.749-11.43h-7.288c-0.787 3.106-3.313 4.68-6.46 4.68-4.39-0.041-7.206-3.768-7.206-8.034 0-4.804 2.857-8.075 7.206-8.075 3.106 0 5.301 1.325 6.336 4.265h7.288c-1.118-7.744-7.62-11.016-13.624-11.016-7.371 0-14.825 4.969-14.867 14.825v0z"></path>
            </symbol>
            <symbol id="icon-login" viewBox="0 0 32 32">
                <title>login</title>
                <path fill="#fff" class="path1" d="M22.4 16l-9.6-8v4.8h-11.2v6.4h11.2v4.8l9.6-8zM27.2 27.2h-12.8v3.2h12.8c1.76 0 3.2-1.44 3.2-3.2v-22.4c0-1.76-1.44-3.2-3.2-3.2h-12.8v3.2h12.8v22.4z"></path>
            </symbol>
            <symbol id="icon-cross" viewBox="0 0 32 32">
                <title>cross</title>
                <path class="path1" d="M32 1.454l-1.454-1.454-14.546 14.546-14.546-14.546-1.454 1.454 14.546 14.546-14.546 14.546 1.454 1.454 14.546-14.546 14.546 14.546 1.454-1.454-14.546-14.546z"></path>
            </symbol>
            <symbol id="icon-chevron" viewBox="0 0 53 32">
                <title>chevron</title>
                <path class="path1" d="M45.697 4.581c1.393-1.429 3.644-1.429 5.027 0 1.388 1.429 1.398 3.739 0 5.168l-20.086 20.427c-1.388 1.429-3.634 1.429-5.032 0l-20.086-20.427c-1.388-1.424-1.388-3.739 0-5.168 1.393-1.429 3.644-1.429 5.027 0l17.583 16.752 17.568-16.752z"></path>
            </symbol>
            <symbol id="icon-settings" viewBox="0 0 32 32">
                <title>settings</title>
                <path d="M31.899 14.223c-0.051-0.45-0.575-0.788-1.029-0.788-1.466 0-2.767-0.861-3.313-2.192-0.557-1.364-0.198-2.954 0.895-3.957 0.344-0.314 0.386-0.841 0.097-1.206-0.75-0.953-1.603-1.814-2.535-2.56-0.365-0.293-0.9-0.252-1.216 0.098-0.954 1.056-2.667 1.449-3.991 0.896-1.378-0.579-2.246-1.975-2.161-3.474 0.028-0.471-0.316-0.88-0.785-0.935-1.195-0.138-2.401-0.143-3.6-0.010-0.464 0.051-0.808 0.451-0.792 0.915 0.052 1.484-0.827 2.855-2.191 3.414-1.308 0.534-3.009 0.145-3.961-0.902-0.315-0.345-0.841-0.387-1.207-0.102-0.959 0.752-1.831 1.614-2.588 2.559-0.295 0.367-0.252 0.9 0.095 1.216 1.114 1.008 1.473 2.613 0.895 3.992-0.552 1.315-1.918 2.163-3.481 2.163-0.507-0.016-0.869 0.324-0.924 0.785-0.141 1.202-0.142 2.427-0.007 3.639 0.050 0.452 0.591 0.787 1.049 0.787 1.393-0.036 2.731 0.827 3.292 2.193 0.559 1.364 0.2 2.953-0.895 3.956-0.342 0.314-0.386 0.84-0.097 1.206 0.743 0.947 1.597 1.809 2.531 2.561 0.367 0.295 0.9 0.254 1.218-0.096 0.957-1.059 2.67-1.451 3.989-0.897 1.381 0.578 2.25 1.973 2.165 3.473-0.028 0.471 0.318 0.881 0.785 0.935 0.611 0.071 1.226 0.107 1.843 0.107 0.585 0 1.171-0.032 1.756-0.097 0.464-0.051 0.808-0.451 0.792-0.916-0.054-1.483 0.827-2.854 2.189-3.412 1.317-0.538 3.011-0.144 3.963 0.902 0.316 0.344 0.839 0.386 1.208 0.101 0.957-0.751 1.828-1.611 2.588-2.559 0.295-0.367 0.254-0.9-0.096-1.216-1.114-1.008-1.475-2.613-0.896-3.991 0.544-1.298 1.859-2.169 3.273-2.169l0.198 0.005c0.459 0.037 0.881-0.316 0.936-0.784 0.141-1.203 0.143-2.427 0.007-3.639zM16.025 21.371c-2.943 0-5.337-2.394-5.337-5.337s2.394-5.337 5.337-5.337c2.943 0 5.337 2.394 5.337 5.337s-2.394 5.337-5.337 5.337z"></path>
            </symbol>
            <symbol id="icon-twitter" viewBox="0 0 32 32">
                <title>twitter</title>
                <path class="path1" d="M31.275 5.924c-0.503 0.223-1.020 0.411-1.548 0.564 0.625-0.707 1.102-1.539 1.393-2.45 0.065-0.204-0.002-0.427-0.17-0.561s-0.4-0.15-0.585-0.040c-1.122 0.665-2.332 1.143-3.6 1.423-1.278-1.249-3.014-1.96-4.808-1.96-3.788 0-6.87 3.082-6.87 6.869 0 0.298 0.019 0.595 0.056 0.888-4.7-0.413-9.070-2.723-12.071-6.404-0.107-0.131-0.272-0.202-0.44-0.188s-0.32 0.108-0.406 0.255c-0.609 1.044-0.93 2.239-0.93 3.454 0 1.655 0.591 3.226 1.635 4.453-0.317-0.11-0.625-0.247-0.919-0.411-0.158-0.088-0.35-0.086-0.507 0.003s-0.255 0.255-0.259 0.436c-0.001 0.030-0.001 0.061-0.001 0.092 0 2.471 1.33 4.695 3.363 5.908-0.175-0.017-0.349-0.043-0.523-0.076-0.179-0.034-0.363 0.029-0.483 0.165s-0.161 0.326-0.105 0.5c0.753 2.349 2.69 4.078 5.032 4.604-1.943 1.217-4.164 1.854-6.496 1.854-0.487 0-0.976-0.029-1.455-0.085-0.238-0.028-0.465 0.112-0.546 0.338s0.005 0.479 0.207 0.609c2.996 1.921 6.46 2.936 10.018 2.936 6.994 0 11.369-3.298 13.808-6.065 3.041-3.45 4.785-8.016 4.785-12.528 0-0.188-0.003-0.379-0.009-0.569 1.2-0.904 2.233-1.998 3.073-3.255 0.128-0.191 0.114-0.443-0.034-0.619s-0.394-0.233-0.604-0.14z"></path>
            </symbol>
            <symbol id="icon-vk" viewBox="0 0 32 32">
                <title>vk</title>
                <path class="path1" d="M27.541 18.46c1.061 1.036 2.182 2.011 3.134 3.152 0.421 0.507 0.819 1.030 1.123 1.619 0.432 0.836 0.041 1.757-0.709 1.807l-4.662-0.002c-1.202 0.1-2.162-0.384-2.968-1.206-0.645-0.657-1.243-1.357-1.864-2.037-0.254-0.278-0.521-0.539-0.839-0.746-0.636-0.413-1.189-0.287-1.552 0.377-0.37 0.675-0.454 1.423-0.491 2.175-0.050 1.098-0.382 1.386-1.484 1.437-2.357 0.111-4.593-0.245-6.671-1.434-1.832-1.048-3.252-2.528-4.488-4.203-2.407-3.262-4.251-6.845-5.907-10.53-0.373-0.83-0.1-1.276 0.816-1.291 1.521-0.030 3.041-0.027 4.564-0.002 0.618 0.009 1.027 0.364 1.266 0.947 0.823 2.023 1.83 3.948 3.093 5.732 0.337 0.475 0.68 0.95 1.168 1.284 0.541 0.37 0.952 0.248 1.207-0.355 0.161-0.382 0.232-0.793 0.268-1.202 0.12-1.407 0.136-2.812-0.075-4.214-0.13-0.875-0.623-1.442-1.496-1.607-0.446-0.084-0.379-0.25-0.164-0.505 0.375-0.439 0.727-0.712 1.43-0.712h5.269c0.829 0.164 1.014 0.536 1.127 1.371l0.005 5.852c-0.009 0.323 0.161 1.282 0.743 1.496 0.466 0.152 0.773-0.22 1.052-0.516 1.261-1.339 2.162-2.921 2.966-4.559 0.357-0.72 0.664-1.469 0.961-2.216 0.22-0.555 0.566-0.828 1.191-0.816l5.071 0.005c0.15 0 0.302 0.002 0.448 0.027 0.854 0.146 1.089 0.513 0.825 1.348-0.416 1.309-1.225 2.4-2.016 3.496-0.846 1.17-1.75 2.3-2.589 3.477-0.77 1.075-0.709 1.617 0.248 2.55v0z"></path>
            </symbol>
            <symbol id="icon-facebook" viewBox="0 0 32 32">
                <title>facebook</title>
                <path class="path1" d="M8.434 17.043h3.508v14.441c0 0.285 0.231 0.516 0.516 0.516h5.947c0.285 0 0.516-0.231 0.516-0.516v-14.373h4.032c0.262 0 0.483-0.197 0.513-0.457l0.612-5.316c0.017-0.146-0.030-0.293-0.127-0.402s-0.238-0.173-0.385-0.173h-4.645v-3.333c0-1.005 0.541-1.514 1.608-1.514 0.152 0 3.037 0 3.037 0 0.285 0 0.516-0.231 0.516-0.516v-4.88c0-0.285-0.231-0.516-0.516-0.516h-4.185c-0.030-0.001-0.095-0.004-0.192-0.004-0.726 0-3.25 0.143-5.244 1.977-2.209 2.033-1.902 4.467-1.829 4.889v3.897h-3.682c-0.285 0-0.516 0.231-0.516 0.516v5.248c0 0.285 0.231 0.516 0.516 0.516z"></path>
            </symbol>
            <symbol id="icon-dictionary" viewBox="0 0 29 32">
                <title>dictionary</title>
                <path fill="#fff" class="path1" d="M16.476 17.132c-0.447 0-0.849 0.34-0.957 0.807l-0.001 1.591c0.114 0.463 0.499 0.773 0.958 0.773 0.743 0 1.169-0.583 1.169-1.599 0-0.369-0.084-1.572-1.169-1.572v0z"></path>
                <path fill="#fff" class="path2" d="M7.125 17.902h1.331l-0.687-2.356z"></path>
                <path fill="#fff" class="path3" d="M3.655 0l-2.802 4.067-0.002 25.648 0.002 0v2.106h22.657v-0.028l0.070 0.006 4.174-3.152v-28.647h-24.1zM9.625 22.297l-0.71-2.333h-2.237l-0.656 2.333h-2.72l2.977-9.615h3.125l3.020 9.615h-2.799zM19.264 21.474c-0.606 0.626-1.421 0.971-2.296 0.971-0.741 0-1.362-0.233-1.827-0.68l-0.047 0.531h-2.22l0.003-10.101h2.608v3.393c0.463-0.365 1.076-0.56 1.784-0.56 0.783 0 1.48 0.283 2.018 0.817 0.657 0.653 1.015 1.64 1.007 2.779 0 1.167-0.356 2.153-1.030 2.85v0zM25.478 27.536l-1.967 1.486v-24.955h-19.89l1.245-1.819h20.613v25.288z"></path>
            </symbol>
        </defs>
    </svg>
    <header class="h">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="#" class="h__logo">
                        <svg class="logo">
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <div class="row">
                        <div class="col-sm-5 h__slogan">
                            Новости на английском
                            <br> с переводом в один клик
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <div class="row">
                                {{#if user}}
                                    <div class="col-xs-12 col-sm-8 h__language">
                                        <span class="lang-select">
                                      <span>{{lang.myLang}}:</span>
                                        <select class='switch-lang'>
                                            <option value="chinese">Chinese</option>
                                            <option value="arabic">Arabic</option>
                                            <option value="portugal">Portugal</option>
                                            <option value="russian">Russian</option>
                                            <option value="spanish">Spanish</option>
                                            <option value="turkish">Turkish</option>
                                        </select>
                                        </span>
                                    </div>
                                    <div class="col-sm-4 h__my-words">
                                        <a class="my-words-js">
                                            <svg class="icon-dictionary">
                                                <use xlink:href="#icon-dictionary"></use>
                                            </svg>
                                            Мои слова
                                        </a>
                                    </div>
                                {{else}}
                                    <div class="col-sm-12 h__language">
                                        <span class="lang-select">
                                    <span>{{lang.myLang}}:</span>
                                        <select class='switch-lang'>
                                            <option value="chinese">Chinese</option>
                                            <option value="arabic">Arabic</option>
                                            <option value="portugal">Portugal</option>
                                            <option value="russian">Russian</option>
                                            <option value="spanish">Spanish</option>
                                            <option value="turkish">Turkish</option>
                                        </select>
                                        </span>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#if user}}
                    <div class="col-sm-2 h__authorization">
                        <a href="/logout/" class="">{{lang.signOut}}</a>
                        <a class="settings-a-js">
                            <svg class="icon-settings">
                                <use xlink:href="#icon-settings"></use>
                            </svg>
                        </a>
                    </div>
                {{else}}
                    <div class="col-sm-2 h__authorization  h__authorization--padding">
                        <a href="#" class="authorization-js">{{lang.loginVia}}</a>
                    </div>
                {{/if}}
                {{#if user}}
                    <a href="/logout/" class="col-xs-2 h__authorization-mobil">
                        <svg class="icon-login">
                            <use xlink:href="#icon-login"></use>
                        </svg>
                    </a>
                {{else}}
                    <a href="#" class="col-xs-2 h__authorization-mobil authorization-js">
                        <svg class="icon-login">
                            <use xlink:href="#icon-login"></use>
                        </svg>
                    </a>
                {{/if}}
            </div>
        </div>
        <section class="p-main__categories">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10 dictionaries-center-block-js p-main--pad6">
                        <section class="b-categories">
                            <a href="#" class="b-categories__item">{{lang.all}}</a>
                            <a href="#category/world" class="b-categories__item">{{lang.world}}</a>
                            <a href="#category/politics" class="b-categories__item">{{lang.politics}}</a>
                            <a href="#category/tech" class="b-categories__item">{{lang.tech}}</a>
                            <a href="#category/social" class="b-categories__item">{{lang.social}}</a>
                            <a href="#category/culture" class="b-categories__item">{{lang.culture}}</a>
                            <a href="#category/sport" class="b-categories__item">{{lang.sport}}</a>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main class="p-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 episodes-js p-main--pad6">
                </div>
                <div class="dictionaries-block-js"></div>
            </div>
        </div>
        <section class="b-button-settings showsettings-js">
            {{#if user}}
                <div class="b-button-settings__button-words">
                    <button type="button" name="button" class="my-words-js">
                        Мои слова
                    </button>
                </div>
                <div class="b-button-settings__button-settings">
                    <button type="button" name="button" class="settings-a-js">
                        <svg class="icon-settings">
                            <use xlink:href="#icon-settings"></use>
                        </svg>
                    </button>
                </div>
            {{else}}
                <div class="b-button-settings__button-words">
                    <button type="button" name="button" class="authorization-js">
                        Мои слова
                    </button>
                </div>
                <div class="b-button-settings__button-settings">
                    <button type="button" name="button" class="authorization-js">
                        <svg class="icon-settings">
                            <use xlink:href="#icon-settings"></use>
                        </svg>
                    </button>
                </div>
            {{/if}}
        </section>
        <section class="b-authorization authorization-block-js">
        </section>
        <section class="b-settings settings-js">
        </section>
    </main>
    <!-- Yandex.Metrika counter -->
    <script src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
    <script type="text/javascript">
        try {
            var yaCounter36871255 = new Ya.Metrika({
                id: 36871255,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
            window.yaCounter = yaCounter36871255;
        } catch (e) {}
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/36871255" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <script src="/js/myapp.js"></script>
</body>

</html>
