<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Upvoc</title>
        <link href="/css/myapp.css" rel="stylesheet">
    </head>
    <body>
    <div>
        <div class="popup-wrapper">
            <div class="functions-language">
            </div>
        </div>
         <div class="main-header clearfix">
            <div class="logo">
                <a href="/">upvoc</a>
                <p class="logo-p">{{{lang.logoP}}}</p>
            </div>
            <div class="lang-select">
                <span>{{lang.myLang}}:</span>
                    <select class='switch-lang'>
                        <option value="chinese">{{lang.chinese}}</option>
                        <option value="arabic">{{lang.arabic}}</option>
                        <option value="portugal">{{lang.portugal}}</option>
                        <option value="russian">{{lang.russian}}</option>
                        <option value="spanish">{{lang.spanish}}</option>
                        <option value="turkish">{{lang.turkish}}</option>
                    </select>
            </div>
            <div class="enter-block">
                {{#if user}}
                    <a href = "/account/" class="login-m">{{{ user.name }}}</a>&nbsp;/&nbsp;<a href = "/logout/" class="login-m">{{lang.signOut}}</a>
                {{else}}
                    {{lang.loginVia}}
                    <a href="/auth/facebook" class="login-m">Facebook</a>
                    |
                    <a href="/auth/twitter" class="login-m">Twitter</a>
                {{/if}}
            </div>
            <div class="enter"></div>
            <ul class="menu clearfix">
                <li class="menu-item"><a href="#"><span>{{lang.all}}</span></a></li>
                <li class="menu-item"><a href="#category/world"><span>{{lang.world}}</span></a></li>
                <li class="menu-item"><a href="#category/politics"><span>{{lang.politics}}</span></a></li>
                <li class="menu-item"><a href="#category/economics"><span>{{lang.economics}}</span></a></li>
                <li class="menu-item"><a href="#category/tech"><span>{{lang.tech}}</span></a></li>
                <li class="menu-item"><a href="#category/sport"><span>{{lang.sport}}</span></a></li>
                <li class="menu-item"><a href="#category/science"><span>{{lang.science}}</span></a></li>
                <li class="menu-item"><a href="#category/culture"><span>{{lang.culture}}</span></a></li>
                <li class="menu-item"><a href="#category/social"><span>{{lang.social}}</span></a></li>
            </ul>
            <div class="top-line clearfix tip-of-the-day">
                <div class="allocation">
                    <p>{{lang.tipOfTheDay}}<span class="close-cross"></span></p>
                </div>
            </div>
        </div>
        <div class="center-block">
            <div class="center-content clearfix"></div>
            <div class="dictionaries-section clearfix">
            </div>

        </div>
        <div class="showsettings">

        </div>
        <!-- Yandex.Metrika counter -->
        <script src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
        <script type="text/javascript">
            try {
                var yaCounter36871255 = new Ya.Metrika({
                    id:36871255,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
                window.yaCounter = yaCounter36871255;
            } catch(e) { }
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/36871255" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <script src="/js/myapp.js"></script>
    </div>
    </body>
</html>
