<section class="b-dictionaries-block">
    <h1 class="b-dictionaries-block__title">{{i18n 'My dictionaries'}}
      <button type="button" name="button" class="b-dictionaries-block__close my-words-js">
          <svg class="icon-cross">
              <use xlink:href="#icon-cross"></use>
          </svg>
      </button>
    </h1>
    <div class="b-dictionaries-block__body">
        <div class="b-dictionaries-block__top word-js">
            <div class="b-dictionaries-block__top-sort b-form">
                <a class="sort-js">{{i18n 'A-Z'}}</a>
                <div class="sort-b-js b-select">
                    <ul class="lang-select">
                        <li>
                            <input id="az" type="radio" name="lang-lang" value="az" class="sorting-block-select" checked>
                            <label for="az">{{i18n 'A-Z'}}</label>
                        </li>
                        <li>
                            <input id="time" type="radio" name="lang-lang" value="time" class="sorting-block-select">
                            <label for="time">{{i18n 'Time added'}}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="b-dictionaries-block__top-auto">
                {{i18n 'Autosave'}}
                <input type="checkbox" {{#if autosave}} checked="checked" {{/if}} value="autosave" id="autosave" name="autosave" class="autocheck autosave-slider checkbox-cust" />
                <label for="autosave"></label>
            </div>
        </div>
        <div class="b-dictionaries-block__words b-form dictionaries-block-words-js"></div>
        <div class="b-dictionaries-block__button">
            <button type="button" name="button" class="button button--del word-delete">{{i18n 'Delete selected'}}</button>
            <button type="button" name="button" class="button button word-cancel">{{i18n 'Cancel'}}</button>
        </div>
    </div>
</section>
