<div class="transcription-f">
     <input type="checkbox" class="dict-checkbox" id="{{_id}}" value="{{phrase}}">
     <label for="{{_id}}">
         <div class="tr-words">
             <span class="transition-word">{{phrase}}</span>
             <span class="transcription-word">[{{transcription}}]</span>
         </div>
         <div class="translating">
             {{#each translations}}
                 {{this.text}}{{#unless @last}},{{/unless}}
             {{/each}}
         </div>
     </label>
</div>