<h1><a href="{{ link }}" target="_blank">{{ title }}</a></h1>

<a href="#" class="post-time">{{ name }} – {{ formattedDate }}</a>

{{#if image}}
    <a href="#" class="illustration" style="background-image: url('{{ image }}')"></a>
{{/if}}

<p>{{{ description }}}</p>
