<h2 class="name-news"><a href="#/episode/{{_id}}" target="_blank">{{{ processedTitle }}}</a></h2>
<p>
    <span class="original-article-link">Original&nbsp;article:&nbsp;
        <a href="{{{ link }}}" target="_blank">{{{ originalArticleLink }}}</a>
    </span>&nbsp;&mdash;&nbsp;{{ formattedDate }}
</p>
<a href="#"><blockquote class="newsinform">{{ name }}</blockquote></a>
{{#if image}}
    <a class="illustration" style="background-image: url('{{ image }}')" onclick="counter.reachGoal('inside-article')"></a>
{{/if}}
<div class="news-text-holder">
    <div class="news episode-description">
        {{{ processedDescription }}}
    </div>
    <div class="news episode-body hidden">
        {{{ processedBody }}}
    </div>
</div>
