<h1><a href="{{ link }}" target="_blank" onclick="counter.reachGoal('inside-article')">{{ title }}</a></h1>

<a href="#" class="post-time">{{ name }} – {{ formattedDate }}</a>

{{#if image}}
    <a href="#" class="illustration" style="background-image: url('{{ image }}')" onclick="counter.reachGoal('inside-article')"></a>
{{/if}}

<div class="text-container">

  <p>
      {{{ description }}}

        {{#if body}}
            <div class="content hideContent">
               {{{ body }}}
              <span>Original article: </span><a href="{{{ link }}}" target="_blank">{{{ originalArticleLink }}}</a>
            </div>
            <div class="show-more">
              <a>Show more</a>
            </div>
        {{/if}}
  </p>

</div>
