<article class="rec">
    <ul class="tags">
        <li><a href="#">{{ name }}</a></li>
    </ul>
    <h1 class="episode__title">
        <a href="{{ link }}" target="_blank">{{ title }}</a>
    </h1>
    {{#if image}}
        <div class="episode__image-holder">
            <img class="episode__image" src="{{ image }}">
        </div>
    {{/if}}
    <div class="episode__content">
        {{{ description }}}
    </div>
</article>
