<div class="container">
    <button type="button" name="button" class="b-authorization__close auth-close-a-js">
        <svg class="icon-cross">
            <use xlink:href="#icon-cross"></use>
        </svg>
    </button>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="b-authorization__block">
                <div class="b-authorization__title">
                    <a href="#" class="b-authorization__title-logo">
                        <svg class="logo">
                            <use xlink:href="#logo"></use>
                        </svg>
                        <span class="b-authorization__title-slogan">Регистрация</span>
                    </a>
                </div>
                <div class="b-authorization__form b-authorization__form--r">
                    <form method='post'>
                        <div class="form-error hidden"></div>
                        <input type="text" name="username" class="login-m-form-login login-input" placeholder="Email">
                        <input type="password" name="password" class="login-m-form-password password-input" placeholder="{{i18n 'Password'}}">
                        <input type="password" class="login-m-form-password password-confirm-input" placeholder="{{i18n 'Password again'}}">
                    </form>
                </div>
                <div class="b-authorization__fix">
                    <button type="button" name="button" class="button button--b button--block b-authorization__button sign-login">{{i18n 'Sign Up'}}</button>
                    <div class="b-authorization__link-group">
                        <a href="#" class="b-authorization__link b-authorization__link--l sign-in">{{i18n 'Sign In'}}</a>
                        <a href="#" class="b-authorization__link b-authorization__link--r login-m-form-restore ">{{i18n 'Forgot password'}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
