{{ word }} [{{ transcription }}]
{{#if translations.length}}
    {{i18n 'Translations'}}:
    <ul>
    {{#each translations}}
        <li>— {{this.text}}</li>
    {{/each}}
    </ul>
{{/if}}
<a class="word__save fake-link">{{i18n 'Add to dictionary'}}</a>
